!!!
html()
    head
        meta(charset='utf8')
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        base(href='/')
        title Forex Payments
        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
        script(src="/js/chartiq/Intl.js")
        script(src="/js/chartiq/iscroll.js")
        script(src="/js/chartiq/stxUtilities.js")
        script(src="/js/chartiq/stxMarket.js")
        script(src="/js/chartiq/stxI18N.js")
        script(src="/js/chartiq/stxStudies.js")

    body
        block body
            div(class="col-xs-12")
                ul(id="tabs", class="nav nav-pills")
                    li(class="EURUSD")
                        a(href="/?ticker=EURUSD") EUR/USD
                    li(class="USDJPY")
                        a(href="/?ticker=USDJPY") USD/JPY
                    li(class="USDCAD")
                        a(href="/?ticker=USDCAD") USD/CAD
                    li(class="GBPUSD")
                        a(href="/?ticker=GBPUSD") GBP/USD
                    li(class="AUDUSD")
                        a(href="/?ticker=AUDUSD") AUD/USD
                    li(class="NZDUSD")
                        a(href="/?ticker=NZDUSD") NZD/USD
                    li(class="USDCNY")
                        a(href="/?ticker=USDCNY") USD/CNY
                    li(class="USDINR")
                        a(href="/?ticker=USDINR") USD/INR
                    li(class="USDMXN")
                        a(href="/?ticker=USDMXN") USD/MXN
                    li(class="USDCHF")
                        a(href="/?ticker=USDCHF") USD/CHF
                    li(class="USDPLN")
                        a(href="/?ticker=USDPLN") USD/PLN
                    li(class="USDNOK")
                        a(href="/?ticker=USDNOK") USD/NOK
                    li(class="USDDKK")
                        a(href="/?ticker=USDDKK") USD/DKK
                    li(class="USDHUF")
                        a(href="/?ticker=USDHUF") USD/HUF
                    li(class="USDSAR")
                        a(href="/?ticker=USDSAR") USD/SAR
                    li(class="USDSEK")
                        a(href="/?ticker=USDSEK") USD/SEK
                    li(class="USDSGD")
                        a(href="/?ticker=USDSGD") USD/SGD
                    li(class="USDTHB")
                        a(href="/?ticker=USDTHB") USD/THB
                    li(class="USDTRY")
                        a(href="/?ticker=USDTRY") USD/TRY
                    li(class="USDTWD")
                        a(href="/?ticker=USDTWD") USD/TWD

                    li(class="USDZAR")
                        a(href="/?ticker=USDZAR") USDZAR
                table(class="table table-striped table-condensed table-hover")
                    tr
                        th
                        th Most Recent
                        th Day average
                    tr
                        td Bullish Sentiment
                        td(id="recentBull")
                        td(id="avgBull")
                    tr
                        td Bearish Sentiment
                        td(id="recentBear")
                        td(id="avgBear")
                    tr
                        td Historical Average
                        td(id="recentHist")
                        td(id="dayHist")

                div(id="chartContainer")
                    div(id="chartControls", style="display:none")
                        div(id="chartSize")
                            span(id="zoomOut", class="minus") -
                            span(id="zoomIn",class="plus") -
                        div(id="home", class="home btn", style="display:none")
                            span Today
                    div(id="iconsTemplate", class="icons", style="display: none;")
                        div(id="iconsTitle") Title
                        div(class="btn icon")
                            span(class="up") &nbsp;
                        div(class="btn icon")
                            span(class="focus") &nbsp;
                        div(class="btn icon")
                            span(class="down") &nbsp;
                        div(class="btn icon")
                            span(class="close") &nbsp;
                    div(id="handleTemplate", class="handle", style="display: none;")
                        span Drag
                    div(id="floatDate", class="hd", style="display: none;")
                    div(id="floatVolume", class="hd", style="display: none;")
                    div(id="floatHR", class="vd", style="display: none;")
                    div(id="currentHR", class="vd", style="display: none;")
                    div(id="crossY", class="stx_crosshair", style="display: none;")
                    div(id="crossX", class="stx_crosshair", style="display: none;")
            script(src="/bower_components/jquery/jquery.min.js")
            script(src="/js/socket.io-client/dist/socket.io.min.js")
            script(src="/js/chartiq/stxChart.js")
            script(charset="ISO-8859-1", src="js/chartiq/stxModulus.js")
            script(charset="ISO-8859-1", src="js/chartiq/stxKernelOs.js")
            script(charset="ISO-8859-1", src="js/chartiq/stxUI.js")
            script(src="/js/frontend.js")
            script
                $(document).ready(function(){
                    var symbol = getURLParameter('ticker');
                    if (symbol === "null"){
                        symbol = 'EURUSD';
                    }
                    $('.active').removeClass('active');
                    $('#tabs .'+symbol).addClass('active');
                    loadInstrument(true, symbol, true);
                    loadSentiment(symbol, true);
                    loadDayAvg(symbol);
                    loadAvg(symbol);
                    updateInstruments(symbol);
                    setInterval(function(){loadInstrument(false, symbol, true)}, 6000);
                    setInterval(function(){updateInstruments(symbol)}, 6000);
                    setInterval(function(){loadSentiment(symbol, true)}, 20000);
                    setInterval(function(){loadAvg(symbol)}, 50000);
                });




